/* --- FONTS --- */

@font-face {
  font-family: WorkSans;
  font-style: normal;
  /* src: url('../fonts/Work_Sans/static/WorkSans-Regular.ttf') */
  src: url("../fonts/Work_Sans/static/WorkSans-Regular.ttf");
}

.font-weight-bold{
  font-weight: bold;
}

.font-size-8 {
  font-size: 0.8rem;
}

.font-size-9 {
  font-size: 0.9rem;
}

.font-size-10 {
  font-size: 1rem;
}

.font-size-11 {
  font-size: 1.1rem;
}

.font-size-12 {
  font-size: 1.2rem;
}

.font-size-13 {
  font-size: 1.3rem;
}

.font-size-14 {
  font-size: 1.4rem;
}

.font-size-15 {
  font-size: 1.5rem;
}

/* --- GENERALS ---*/
html, .App {
  background-color: #f8f8fb;
}
/* div {
    border: 1px solid black;
} */

p,
span {
  font-family: WorkSans;
}

a {
  color: #386df0;
}

/* --- BLOCKS --- */

.main {
  max-width: 1080px;
  margin: 0 auto;
  background-color: #f8f8fb;
  padding-top: 2.5rem;
  /* padding-left: 117px; */
}

.bocadillo {
  /* margin-top: -6px;
  padding-top: 35px; */
  padding: 2rem 2rem 3rem;
  background-color: #f6f6f6;
  filter: drop-shadow(6px 6px 16px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.bocadillo_pdf {
  /* width: 900px;
  height: 1430px;
  margin-top: -6px;
  padding-top: 35px; */
  padding: 2rem 2rem 3rem;
  background-color: #f6f6f6;
  filter: drop-shadow(6px 6px 16px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.b_arriba {
  /* width: 800px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px; */
  padding: 2rem 2rem 3rem;
  margin: 0 0 2rem;
  background-color: #eceff6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  min-height: 580px;
}

.b_arriba_pdf {
  /* width: 800px;
  height: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 20px 20px; */
  padding: 2rem 2rem 3rem;
  margin: 0 0 2rem;
  background-color: #eceff6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

/* .b_abajo {
  width: 830px;
  height: 165px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
} */

.contentTitulo {
  text-align: center;
}

.certificado {
  width: 175px;
  height: 50px;
  margin: auto;
}

/* .certificado span {
  position: relative;
  top: -13px;
  left: 5px;
  color: #2b2c36;
} */

.verificado {
  width: 250px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #386df0;
  border-radius: 10px;
  position: relative;
  top: 10px;
}

.verificado span {
  display: block;
  float: left;
  line-height: 27px;
  color: #ffffff;
  margin-left: 10px;
}

.verificado img {
  display: block;
  float: right;
}

.noverificado {
  width: 250px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 4px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #f03857;
  border-radius: 10px;
  position: relative;
  top: 10px;
}

.noverificado span {
  display: block;
  float: left;
  line-height: 27px;
  color: #ffffff;
  margin-left: 5px;
}

.noverificado img {
  display: block;
  float: right;
  width: 24px;
  height: auto;
  position: relative;
  top: 3px;
  right: 4px;
}

/* .selloministerio {
  width: 300px;
  height: 90px;
  margin-right: 25px;
  margin-left: 525px;
} */

.iconosministerio {
  width: 245px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -7px;
}

.tabledetails {
  resize: none;
  border: 1px solid;
  width: 800px;
  position: relative;
  left: 1px;
  right: 1px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.pdfviewer {
  /* width: 760px;*/
  width: 100%;
  height: 1190px;
}

.divConsultaPrincipal {
  width: 600px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  margin-top: 75px;
}

/* --- IMAGES --- */

.logoicommunity {
  width: 200px;
  height: 42px;
}

.emblem {
  margin-right: 25px;
  display: block;
  float: right;
  margin-top: -57px;
}

.checked {
  width: 50px;
  height: 50px;
  color: blue
    /*  margin-left: 325px; */
}

.handshake {
  width: 45px;
  height: 45px;
  margin-left: auto;
}

.ministerioLogo {
  width: 200px;
  height: 50px;
  margin-right: auto;
}

.poligono {
  position: relative;
  left: 25px;
  z-index: 9999;
  top: 10px;
}

.protection {  
  width: 35px;
  height: 35px;
  height: 90%;
  margin-top: 5%;
  margin-bottom: -5%
}

.pdficon {
  width: 35px;
  height: auto;
  margin-right: 50px;
  display: block;
  float: right;
  margin-top: -45px;
}

.etherscanLogo {
  width: 30px;
  height: auto;
  margin-right: 10px;
  display: block;
  float: right;
  margin-top: -43px;
}

.textcentered {
  text-align: center;
}

.textjustified {
  text-align: justify;
}

.text11 {
  font-size: 11px;
}

.text12 {
  font-size: 12px;
}

.text14 {
  font-size: 14px;
}

.text16 {
  font-size: 16px;
}

.text36 {
  font-size: 36px;
}

.separate5 {
  margin-left: 5px;
}

.separate10 {
  margin-left: 10px;
}

.verde {
  color: #70a83b;
}
.rojo {
  color: #cb383f;
}

.languageSelector {
  display: block;
  float: right;
}

.clearer {
  clear: both;
}

.hashchecker .contentTitulo,
.certificationdetails .contentTitulo {
  margin-top: 10px;
}


/* ----- Changes by FERNANDA ----- */
/* ----- icommunity's logo ----- */
#logoicommunity {
  max-width: 200px;
  display: block;
}

/* ----- language selector ----- */
.flag {
  height: 16px; 
  width: auto;
  display: inline-block;
  margin-right: 0.5rem;
  z-index: 99;
}
.flag-btn {
  margin-right: 20px;
  font-size: .9rem;
}
.flag-btn:focus, .flags-dropdown button:focus {
  box-shadow: none;
}
.flags-dropdown {
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
  position: absolute;
  z-index: 99;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
}
.flags-dropdown button {
  display: block;
  padding: .75rem 1rem;
  font-size: .9rem;
}


/* ----- main title ----- */
.titulo-main {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  min-height: 60px;
}


/* ----- button ----- */
.btn-rounded {
  border-radius: 30px;
  padding: .5rem 3rem;
}
.bg-success {
  background-color: #70a83b !important;
}
.text-success {
  display: block;
  color: #70a83b;
}


/* ----- lower card ----- */
.bocadillo .b_abajo, .bocadillo_pdf .b_abajo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1rem;
}
.bocadillo .b_abajo > p, .bocadillo_pdf .b_abajo > p {
  width: 67%;
  margin-bottom: 0px;
}
.selloministerio {
  width: 30%;
}


/* ----- icons ----- */
.icono-grande {
  font-size: 50px;
  padding: 0 1rem;
}
.icono-medio {
  font-size: 40px;
}
.icono-click {
  color: #386df0;
}
.icono-click:hover {
  color: #0b5ed7;
  cursor: pointer;
}
.icono-click:focus{
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}
.soft {
  opacity: 0.2;
}
.img-highlight {
  opacity: 1 !important;
}

/* ----- footer ----- */
.footer {
  font-size: 0.8rem;
}
.footer .justify-content-center > .form-label {
  margin: 0 0.5rem;
}


/* ----- loader ----- */
.loader {
  min-height: 500px;
}



/* ----- RESPONSIVE ----- */
@media only screen and (max-width: 990px) {
  /* .main {
    width: 600px;
    padding-left: 0px;
  } */

  /*.bocadillo {
    width: 420px;
    height: 920px; 
    padding-right: 10px;
    padding-left: 10px;
  }*/

  /* .bocadillo_pdf {
    width: 420px;
    height: 920px;
    padding-right: 10px;
    padding-left: 10px;
  } */

  /* ----- bocadillo arriba ----- */
  .b_arriba {
    min-height: 840px;
  }

/*.b_arriba_pdf {
    width: 380px;
    height: 600px;
  }

  .b_abajo {
    width: auto;
    height: auto;
  } */
  
  .emblem {
    margin: auto;
    float: none;
    position: relative;
    top: 10px;
  }

  .divConsultaPrincipal {
    margin-top: -150px;
    width: auto;
  }

  .certificado span {
    font-size: 28px;
  }

  /* .selloministerio {
    width: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
  } */

  .iconosministerio {
    width: auto;
    margin-top: 0px;
    text-align: center;
  }

  .clearer {
    margin-top: -70px;
  }

  a,
  p {
    word-wrap: break-word;
  }

  .hashchecker {
    height: 280px;
  }

  .certification {
    height: 380px;
  }


  /* ----- bottom navegation ----- */
  .bottom-nav {
    padding-top: 2.85rem;
  }

  .pdficon {
    margin-top: 6px;
    margin-right: 10px;
  }

  .etherscanLogo {
    margin-top: 7px;
  }

  .pdfviewer {
    width: 100%;
    height: 560px;
   
  }

  td {
    width: 50px;
    word-wrap: break-word;
  }

  .certificationdetails {
    width: auto;
  }

  td {
    width: 50px;
    word-wrap: break-word;
    vertical-align: top;
  }

  .tabledetails {
    table-layout: fixed;
    width: 100%;
  }
  
.protection {
  margin-top: 0%;
  margin-bottom: 0%
}


/* ----- blockchain network logos ----- */
.network-logos > div {
  margin: 1rem 0;
}


/* ----- bocadillos abajo ----- */
.bocadillo .b_abajo, .bocadillo_pdf .b_abajo {
  display: block;
}
.bocadillo .b_abajo > p, .bocadillo_pdf .b_abajo > p {
  width: 100%;
}
.selloministerio {
  margin-top: 2rem;
  width: 100%;
}


/* ----- loader ----- */
.loader {
  min-height: 697px;
}


}

@media only screen and (max-width: 770px) {

/* ----- loader ----- */
.loader {
  min-height: 809px;
}


/* ----- bocadillo arriba ----- */
.b_arriba {
  min-height: 890px;
}


}
